.DS_Store
OrangeExtensions-1.2.jar
bin/*
*.exe
cache.dat
*.swp
acl2/*
*.jar
examples/*
!examples/*.*
*~
help/linux
help/Proof Pad.help
help/win
help/mac
user_data.dat
dracula/*
ctrl-c/ctrlc-windows/Debug/*
ctrl-c/ctrlc-windows/Release/*
ctrl-c/ctrlc-windows/*.sdf
ctrl-c/ctrlc-windows/*.opensdf
ctrl-c/ctrlc-windows/*.user