<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-us</string>
	<key>CFBundleIdentifier</key>
	<string>org.proofpad.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Proof Pad</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIconPath</key>
	<string>icon_16x16.png</string>
	<key>HPDBookIndexPath</key>
	<string>Proof Pad.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>proofpad</string>
	<key>HPDBookKBURL</key>
	<string>http://proofpad.org</string>
	<key>HPDBookRemoteURL</key>
	<string>http://proofpad.org</string>
	<key>HPDBookTitle</key>
	<string>Proof Pad Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookTopicListCSSPath</key>
	<string>topiclist.css</string>
	<key>HPDBookTopicListTemplatePath</key>
	<string>topiclist.xquery</string>
</dict>
</plist>
