<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Proof Pad</a>
    <ul class="nav">
      <li {% if page.url == '/' %} class="active" {% endif %}><a href="/"><i class="icon-home"></i> Home</a></li>
      <li {% if page.category == '/docs/' %} class="active" {% endif %}><a href="/docs"><i class="icon-book"></i> Documentation</a></li>
      <!--<li><a href="/screenshots"><i class="icon-screenshot"></i> Screenshots</a></li>-->
      <li><a href="http://github.com/calebegg/proof-pad"><i class="icon-github"></i> Source</a></li>
      <li><a href="http://github.com/calebegg/proof-pad/issues/new"><i class="icon-warning-sign"></i> Report a bug</a></li>
  </div>
</div>

