body {
    width: 50%;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
}
code {
    display: block;
    padding: 5px;
    border-left: solid #ccc 1px;
    background: #eee;
    margin: 10px 20px;
    white-space: pre-wrap;
}
.footnotes {
    border-top: solid black 1px;
    font-size: smaller;
}
